form label {
	display: flex;
	align-items: center;
}

form input[type="checkbox"] {
	margin: 0.25em;
}

form p > :first-child {
	width: 100%;
	justify-content: center;
}

form p > * {
	margin: 0 20px;
}
