this #board {
	border: 1px solid black;
	width: -moz-fit-content;
	width: fit-content;
	margin: 20px auto;
}

this .row {
	display: flex;
}

this .tile {
	width: 100px;
	height: 100px;
	display: inline-block;
	cursor: pointer;
}

this .tile img {
	cursor: not-allowed;
}

this #hand {
	display: flex;
	height: 125px;
	align-items: center;
}

this #hand button {
	height: 100%;
	border: none;
	margin: 5px;
	padding: 0;
	width: 125px;
}

this .selected {
	cursor: not-allowed;
}

this .selected img {
	box-shadow: 0 0 5px 0 #000000;
	height: 100px;
}
