<template>
	<section id="lobby">
		<section id="rooms">
			<button
				@click="joinRoom(id)"
				type="button"
				class="room"
				v-for="(room, id) of publicRooms"
			>
				<h2>Room {{ id }}</h2>
				<p>Host: {{ room.host }}</p>
				<div>👥 {{ room.players.length }}</div>
			</button>
		</section>
		<section id="manage">
			<button type="button" @click="$refs.createRoomDialog.showModal()">
				<h2>Create New Room</h2>
			</button>
			<button type="button" @click="$refs.joinRoomDialog.showModal()">
				<h2>Join Private Room</h2>
			</button>
		</section>
	</section>
	<dialog ref="createRoomDialog">
		<form method="dialog" @submit="joinRoom($refs.createRoomInput.value)">
			<h3>Create a room</h3>
			<input placeholder="Room ID" ref="createRoomInput" required />
			<button type="submit">Join</button>
		</form>
	</dialog>
	<dialog ref="joinRoomDialog">
		<form method="dialog" @submit="joinRoom($refs.joinRoomInput.value)">
			<h3>Join private room</h3>
			<input placeholder="Room ID" ref="joinRoomInput" required />
			<button type="submit">Join</button>
		</form>
	</dialog>
</template>
