this #lobby {
	width: 70%;
	margin: auto;
}

button {
	background: transparent;
	margin: 10px 0;
	padding: 10px;
	display: flex;
	justify-content: space-between;
	align-content: space-between;
	flex-direction: column;
	border-radius: 15px;
	flex-wrap: wrap;
}

button:hover {
	background: #f0f0f0;
}

this .room {
	width: 100%;
	height: 70px;
}

this .room * {
	margin: 0;
}

this .room > :last-child {
	line-height: 100%;
	font-size: 46px;
}

this #manage {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

this #manage button {
	height: 60px;
	width: 40%;
}

this #manage h2 {
	margin: auto;
	width: 100%;
}

dialog {
	justify-content: center;
	align-items: center;
	padding: 1.5em 2.5em;
	width: 500px;
}

dialog[open] {
	display: flex;
}

form > * {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

form > input,
form > button,
form > h3 {
	width: 100%;
	height: 30px;
	align-content: center;
}
