/** Resets */
::selection {
	/* It can be really hard to read highlighted text with a text-shadow, it should be removed when selected */
	text-shadow: none;

	/* NOTE: Using this means the color and background-color are set to transparent for selected text... */
	color: #fff;
	background-color: #00f;
}

/* Smoothly animate to different sections within a page, only if the user doesn't mind animations */
@media (prefers-reduced-motion: no-preference) {
	html {
		scroll-behavior: smooth;
	}
}

body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
		"Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
}

img {
	/* For responsive images that adjust & adapt */
	height: auto;
	max-width: 100%;
	max-height: 100%;

	/* This isn't needed, but as a user, I get frustrated when I highlight text and the image gets highlighted too */
	-webkit-user-select: text;
	user-select: text;
}

img.emoji {
	height: 1em;
	width: 1em;
	margin: 0 0.05em 0 0.1em;
	vertical-align: -0.1em;
}

button {
	/* By default, buttons don't inherit the font colour, this is a useful default to override */
	color: inherit;
	cursor: pointer;
}

a,
button {
	/* Element doesn't want double-tap on mobile to zoom */
	touch-action: manipulation;
}

svg {
	/* Make the SVGs fit the parent container by default */
	height: 100%;
	width: 100%;

	/* Optional - make the SVG's fill be the same as the inherited color */
	fill: currentColor;

	/* Prevent the SVG from altering cursor interaction */
	pointer-events: none;
}

iframe,
video {
	/* Make iframes & videos fit the parent container by default */
	height: 100%;
	width: 100%;
}

/** Project styles*/

header {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.5em;
	height: 100px;
}

h1 {
	margin: auto;
}

header,
#lobby {
	width: 70%;
	margin: auto;
}

/** Game Styles */
#board {
	border: 1px solid black;
	width: -moz-fit-content;
	width: fit-content;
	margin: 20px auto;
}

.row {
	display: flex;
}

.tile {
	width: 100px;
	height: 100px;
	display: inline-block;
	cursor: pointer;
}

.tile img {
	cursor: not-allowed;
}

#hand {
	display: flex;
	height: 125px;
	align-items: center;
}

#hand button {
	height: 100%;
	border: none;
	margin: 5px;
	padding: 0;
	width: 125px;
}

.selected {
	cursor: not-allowed;
}

.selected img {
	box-shadow: 0 0 5px 0 #000000;
	height: 100px;
}

/** Lobby styles */
#lobby button {
	background: transparent;
	margin: 10px;
	padding: 10px;
	display: flex;
	justify-content: space-between;
	align-content: space-between;
	flex-direction: column;
	border-radius: 15px;
	flex-wrap: wrap;
}

#lobby button:hover {
	background: #f0f0f0;
}

.room * {
	margin: 0;
}

.room > :last-child {
	line-height: 100%;
	font-size: 46px;
}

.room {
	width: 100%;
	height: 70px;
}

#manage {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

#manage button {
	height: 60px;
	width: 275px;
}

#manage h2 {
	margin: auto;
	width: 100%;
}

dialog {
	justify-content: center;
	align-items: center;
	width: 30%;
	height: 250px;
}

dialog[open] {
	display: flex;
}

dialog > form {
	width: 75%;
}

dialog > form > input,
button {
	width: 100%;
	display: block;
	margin: 15px 0;
}
