<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Qwirkle</title>
		<script type="module" src="./js/preload.js" async></script>
		<link rel="stylesheet" href="./css/normalize.css" />
		<link rel="stylesheet" href="./css/style.css" />
		<script type="module" src="./js/client.js"></script>
	</head>
	<body>
		<header><h1>Qwirkle</h1></header>
		<section id="lobby" v-if="room === null">
			<section id="rooms">
				<button type="button" class="room">
					<h2>Room Lorem</h2>
					<p>Host: Lorem</p>
					<div>👥 1</div>
				</button>
				<button type="button" class="room">
					<h2>Room Ut</h2>
					<p>Host: Unde</p>
					<div>👥 2</div>
				</button>
				<button type="button" class="room">
					<h2>Room Facilis</h2>
					<p>Host: Labore</p>
					<div>👥 3</div>
				</button>
			</section>
			<section id="manage">
				<button type="button">
					<h2>Join Private Room</h2>
				</button>
				<button type="button">
					<h2>Create Private Room</h2>
				</button>
				<button type="button">
					<h2>Create Public Room</h2>
				</button>
			</section>
		</section>
		<section id="game" v-else>
			<section id="board">
				<div class="row" v-for="rowIndex in boardSize.rows[1] - boardSize.rows[0] + 3">
					<div
						class="tile"
						v-for="columnIndex in boardSize.columns[1] - boardSize.columns[0] + 3"
						@click="placeTile"
					>
						<img
							v-if="getFromBoard(columnIndex, rowIndex)"
							:src="generateTileUrl(getFromBoard(columnIndex, rowIndex))"
							:alt="`${getFromBoard(columnIndex, rowIndex).color} ${
								getFromBoard(columnIndex, rowIndex).shape
							}`"
						/>
					</div>
				</div>
			</section>
			<section id="hand">
				<button
					v-for="[index, tile] in heldTiles.entries()"
					@click="selectTile"
					:class="{ selected: index === selectedTile }"
					:title="`${tile.color} ${tile.shape}`"
					type="button"
				>
					<img :src="generateTileUrl(tile)" :title="`${tile.color} ${tile.shape}`" />
				</button>
			</section>
		</section>
	</body>
</html>
