<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Qwirkle</title>
		<script type="module" src="./js/preload.js" async></script>
		<link rel="stylesheet" href="./css/normalize.css" />
		<link rel="stylesheet" href="./css/style.css" />
		<script type="module" src="./js/client.js"></script>
	</head>
	<body>
		<header><h1>Qwirkle</h1></header>
		<section id="lobby" v-if="!roomId">
			<section id="rooms">
				<button
					@click="joinRoom(id)"
					type="button"
					class="room"
					v-for="(room, id) of publicRooms"
				>
					<h2>Room {{ id }}</h2>
					<p>Host: {{ room.host }}</p>
					<div>👥 {{ room.players.length }}</div>
				</button>
			</section>
			<section id="manage">
				<button type="button" @click="$refs.createRoomDialog.showModal()">
					<h2>Create New Room</h2>
				</button>
				<button type="button" @click="$refs.joinRoomDialog.showModal()">
					<h2>Join Private Room</h2>
				</button>
			</section>
		</section>
		<section id="game" v-else>
			<section id="board">
				<div class="row" v-for="rowIndex in boardSize.rows[1] - boardSize.rows[0] + 3">
					<div
						class="tile"
						v-for="columnIndex in boardSize.columns[1] - boardSize.columns[0] + 3"
						@click="tilePlaced"
					>
						<img
							v-if="getFromBoard(columnIndex, rowIndex)"
							:src="generateTileUrl(getFromBoard(columnIndex, rowIndex))"
							:alt="`${getFromBoard(columnIndex, rowIndex).color} ${
								getFromBoard(columnIndex, rowIndex).shape
							}`"
						/>
					</div>
				</div>
			</section>
			<section id="hand">
				<button
					v-for="[index, tile] in heldTiles.entries()"
					@click="selectTile"
					:class="{ selected: index === selectedTile }"
					:title="`${tile.color} ${tile.shape}`"
					type="button"
				>
					<img :src="generateTileUrl(tile)" :title="`${tile.color} ${tile.shape}`" />
				</button>
			</section>
		</section>
		<dialog ref="createRoomDialog">
			<form method="dialog">
				<h3>Create a room</h3>
				<input placeholder="Room ID" ref="createRoomInput" required />
				<button type="submit" @click="joinRoom($refs.createRoomInput.value)">Join</button>
			</form>
		</dialog>
		<dialog ref="joinRoomDialog">
			<form method="dialog">
				<h3>Join private room</h3>
				<input placeholder="Room ID" ref="joinRoomInput" required />
				<button type="submit" @click="joinRoom($refs.joinRoomInput.value)">Join</button>
			</form>
		</dialog>
	</body>
</html>
